.app {
  color: #fefefe;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #041121;
}

@media screen and (min-width: 500px) {
  .container {
  }
}

.input {
}

.output {
}

.header {
  color: #fefefe;
  font-size: 20pt;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.thermometer-container {
  /* border: 1px solid white; */
}

.thermometer {
  stroke: #444444;
  stroke-width: 2;
  fill: #103e76;
}

.liquid-cold {
  fill: #a3cbfb;
  stroke-width: 2;
}

.liquid-hot {
  fill: #b63e76;
  stroke-width: 2;
}


.scale-number {
  fill: #fefefe;
  font-size: 3pt;
}

.temp-display {
  fill: #fefefe;
  font-size: 7pt;
}

.location-input {
  width: 10em;
  color: #fefefe;
  background-color: #444444;
  border: none;
  padding: 0.3em;
  max-width: 90vw;
  font-size: 20pt;
}

.loading {
  position: absolute;
  left: 2em;
  bottom: 2em;
}
